<!DOCTYPE html>
<html ng-app="App">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="js/bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet"
	href="js/bower_components/angular-material/angular-material.css" />
<title>Insert title here</title>
</head>
<body ng-controller="LoginController">

	<div layout="column" style="margin:100px; padding: 100px"> 
	<md-toolbar class="md-primary">
	<h1 class="md-toolbar-tools">Logowanie</h1>
	</md-toolbar> <md-content layout-padding>
	<form action="/EventTracker/auth" method="POST" >
		<md-input-container> <label>Użytkownik</label> <input ng-model="credentials.username"
			 required name="username"
			>
		
		</md-input-container>
		<md-input-container> <label>Hasło</label> <input ng-model="credentials.password"
			required name="password"> 
		
		</md-input-container>
		
		
		
		<md-button><ng-md-icon icon="person"/></md-button>
		
	</form>
	</md-content>
	</div>

	<script src="js/bower_components/jquery/dist/jquery.js"></script> <script
		src="js/bower_components/angular/angular.js"></script> <script
		src="js/bower_components/angular-animate/angular-animate.js"></script>
	<script src="js/bower_components/angular-aria/angular-aria.js"></script>
	<script src="js/bower_components/angular-material/angular-material.js"></script>
	<script
		src="js/bower_components/angular-material-icons/angular-material-icons.min.js"></script>
	<script src="js/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="js/App.js"></script> 
	<script src="js/controllers/IndexController.js"></script>
	<script src="js/controllers/LoginController.js"></script>
	
	
</body>
</html>